body {
    padding-top: 80px;
}

.form-control {
    border-radius: 0;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
}

.loading {
    border-radius: 100%;
    border: 3px solid rgba(255, 255, 255, .6);
    border-top-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    -webkit-animation: spin .7s linear infinite;
    animation: spin 2s linear infinite;
}

.btn .loading {
    height: 16px;
    width: 16px;
    float: left;
    margin: 2px 4px;
}

.featureListMap {
    width: 70%;
    height: 400px
}

.img-logo {
    background-size: cover;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

#feature-item .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.collector-title{
    margin-bottom: 20px;
    margin-left: 5px;
    border-left: 6px solid #2c689c;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
}

.overlay .content {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}