md-list-item.selected {
    color: rgba(255,255,255,0.87);
    background-color: rgb(63,81,181);
}

.cs-config md-card{
    margin: 0;
    border-radius: 0;
}

.cs-config md-card p,
.cs-config md-card md-checkbox{
    margin-top: 10px;
}
md-dialog{
    min-width: 80%;
}

.cs-config md-card label{
    margin: 10px;
}