{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles %}
{% load i18n %}

{% block title %} {{ block.super }} - {% trans "GeoCollect" %} {% endblock %}
{% block head %}
    {% include "geonode/ext_header.html" %}
    {% include "geonode/app_header.html" %}
    {{ block.super }}

{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
          <div class="page-header">
            <div class="row">
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><span class="h1">Cartoview GeoCollect</span></div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">?</button></div>
            </div>

          </div>
            <div id="root"></div>
        </div>
    </div>

{% endblock %}
{% block extra_script %}
    <script src="{{ STATIC_URL }}cartoview_geo_collect/dist/commons.js?v={{v}}"></script>
    <script src="{{ STATIC_URL }}cartoview_geo_collect/dist/config.bundle.js?v={{v}}"></script>
    <script>
        const urls={
          resources_url: "{% url 'api_dispatch_list' api_name='api' resource_name='maps' %}",
          appInstance: null,
          proxy: "{{ PROXY_URL }}",
          geoserverUrl : "{{ GEOSERVER_BASE_URL }}",
          static: "{{ STATIC_URL }}",
          media: "{{ MEDIA_URL }}",
          rest: "{% url 'app_manager_base_url' %}rest/app_manager/",
          geonodeRest: "{% url 'api_api_top_level' 'api' %}",
          appLogo:'{% static 'cartoview_geo_collect/logo.png' %}',
          layerAttributes:"{% url 'app_manager_base_url' %}rest/app_manager/geonodelayerattribute/",
          mapLayers:"{% url "cartoview_map_layers" %}",
          newURL:"{% url "cartoview_geo_collect.new" %}",
          {% if 'access_token' in request.session %}
            wfsURL : "{{ GEOSERVER_BASE_URL }}wfs?access_token={{request.session.access_token}}",
            {% else %}
            wfsURL : "{{ GEOSERVER_BASE_URL }}wfs",
          {% endif %}
          editURL:function(id){
            return "/apps/cartoview_geo_collect/"+id+"/edit/"
          },
          viewURL:function(id){
            return "/apps/cartoview_geo_collect/"+id+"/view/"
          },
          detailsURL:function(id){
            return "/apps/appinstance/"+id+"/"
          },
          describeFeatureType: function(typename){
            {% if 'access_token' in request.session %}
            return "{{ GEOSERVER_BASE_URL }}wfs?service=wfs&version=2.0.0&request=DescribeFeatureType&typeName="+typename+"&outputFormat=application/json&access_token={{request.session.access_token}}"
            {% else %}
            return "{{ GEOSERVER_BASE_URL }}wfs?service=wfs&version=2.0.0&request=DescribeFeatureType&typeName="+typename+"&outputFormat=application/json"

            {% endif %}
          }

      }
        var username="{{request.user.username}}"
        var viewer=new Viewer('root',username,urls)
    viewer.view();
    </script>
    <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cartoview GeoCollect</h4>
      </div>
      <div class="modal-body">
        <p>collect XY Location and associate Attributes and Images. Work Field Crews Can utilize this Application To Collect Information About Assets .Users can also use this Application To report Issues or Collect New Features . once the data is Saved it Will Be directly Saved To the server,to setup your app author a new shapefile then upload it to the server then follow the instructions,users will use the app to save data to this layer</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}
